@charset "utf-8";

nav .ub-control.menu:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
nav .ub-control.menu li a {display:inline-block;padding:0 28px;font-family:NanumGothic;font-weight:bold;font-size:1.2em;color:#555;cursor:pointer;}
nav .ub-control.menu li.menu-item {position:relative;float:left;background:url(../../../page/images/common/bar_nav.gif) no-repeat 0 3px;}
nav .ub-control.menu li.menu-item:first-child {background:none;}
nav .ub-control.menu li.menu-item a {padding-bottom:23px;}
nav .ub-control.menu .menu-sub-box {display:none;position:absolute;top:33px;left:50%;width:161px;margin-left:-80px;z-index: 2002;}
nav .ub-control.menu .menu-sub-box .subbox-arrow {position:absolute;top:0px;left:50%;margin-left:-6px;display:inline-block;width:13px;height:8px;background:url(../../../page/images/common/bg_menu_subbox_arrow.gif) no-repeat top center;z-index:2002;}
nav .ub-control.menu .menu-sub-box ul {margin-top:6px;padding:10px 5px 8px;border:1px solid #ababab;border-top:2px solid #17a5e1;border-radius:3px 3px 3px 3px;background-color:#fff;}
nav .ub-control.menu .menu-sub-box ul:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
nav .ub-control.menu .menu-sub-box ul li.menu-sub-item {position:relative;padding-top:1px;background:url(../../../page/images/common/bg_line_dotted.gif) repeat-x top;line-height:15px;}
nav .ub-control.menu .menu-sub-box ul li.menu-sub-item:first-child {background:none;}
nav .ub-control.menu .menu-sub-box ul li.menu-sub-item a {display:block;margin:1px 0;padding:4px 10px 5px 17px;background-image:url(../../../page/images/common/ico_submenu.gif);background-repeat:no-repeat;background-position:10px 9px;font-size:1em;color:#2b93c2;}
nav .ub-control.menu .menu-sub-box ul li.menu-sub-item:hover a, nav .ub-control.menu .menu-sub-box ul li.menu-sub-item a:hover {background-color:#3dace4;background-position:10px -78px;color:#fff;}
nav .ub-control.menu li.menu-item:hover a {color:#2f97c1;}
nav .ub-control.menu li.menu-item:hover .menu-sub-box ul li a {color:#2b93c2;}
nav .ub-control.menu li.menu-item:hover .menu-sub-box ul li:hover a, nav .ub-control.menu li.menu-item:hover .menu-sub-box ul li a:hover {color:#fff;}
nav .ub-control.menu .menu-sub-box .menu-sub-box {position:relative;top:6px;left:0%;width:137px;margin-left:15px;margin-bottom:10px;}
nav .ub-control.menu .menu-sub-box .menu-sub-box ul {margin-top:0px;padding:0;border:none;border-radius:0;background-color:#fff;}
nav .ub-control.menu .menu-sub-box .menu-sub-box li.menu-sub-item {background:none;}
nav .ub-control.menu .menu-sub-box .menu-sub-box li.menu-sub-item a {margin:0;padding:0px 0px 5px 6px;background-image:url(../../../page/images/common/ico_gray2.gif);background-repeat:no-repeat;background-position:0px 5px;font-size:11px;color:#666666;font-weight:normal;font-family:Dotum;}
nav .ub-control.menu .menu-sub-box .menu-sub-box li.menu-sub-item a:hover {background-color:transparent;background-position:0px 5px;font-weight:bold;color:#218dc1;text-decoration:underline;}
nav .ub-control.menu li.menu-item:hover .menu-sub-box .menu-sub-box li.menu-sub-item a {color:#666666;}
nav .ub-control.menu li.menu-item:hover .menu-sub-box .menu-sub-box li.menu-sub-item a:hover {color:#218dc1;}
nav .ub-control.menu li.menu-sub-item:hover li.menu-sub-item a {background-color:#ffffff;background-position:0 5px;}

nav .ub-control.menu .menu-sub-box ul li.menu-sub-item .menu-sub-arrow {position:absolute;top:10px;right:7px;display:inline-block;width:9px;height:7px;background:url(../../../page/images/common/ico_menu_sub_arrow.gif) no-repeat 0 0;}
nav .ub-control.menu .menu-sub-box ul li.menu-sub-item:hover .menu-sub-arrow {background:url(../../../page/images/common/ico_menu_sub_arrow.gif) no-repeat 0 -83px;}

/* TopMenu */
#menu-navi {
	clear: both;
}
#navtabs {
	position: relative;
	z-index: 2001;
}