/* Context Menu */
.contextmenu {
	padding:4px; 
	background-color:#F0F0F0;
}
.contextmenu_menus {
	border:1px solid #BBB !important;
	margin:0px;
	padding:0px;
	position:absolute;
}
.contextmenu_menus ul {
	list-style-type:none;
	margin:2px;
	padding:0px;
}
.contextmenu_menus li {
	list-style-type:none;
	padding:4px 22px 4px 8px; 
	cursor:pointer;
	border:0px !important;
}